# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env*.local

# playwright
/e2e/test-results/
/playwright-report/
/test-results/

# typescript
*.tsbuildinfo
next-env.d.ts
